{% extends 'base.html' %}
<!--{% set active = "Home" %}-->

{% block title %}
Sofa
{% endblock %}

{% block content %}
<div class="container">
    <p class="display-3 text-center" id="sofa_heading"></p>
    <div class="row">
        <div class="col-md-6 col-lg-4 my-2">
        </div>
        <div class="col-md-6 col-lg-4 my-2">
            <div class="card" id="sofa_card">
                <img src=""  class="card-img-top img-fluid" id="sofa_img">
                <div class="card-body">
                    <h5 class="card-title text-center" id="sofa_material"></h5>
                    <h5 class="card-title text-center" id="sofa_seats"></h5>
                    <h5 class="card-text text-center" id="sofa_stock"></h5>
                    <h5 class="card-text text-center" id="sofa_price"></h5>
                    <h5 class="card-text text-center" id="sofa_rating">User Rating: </h5>
                    <div class="explore">
                        <a href="#" class="btn btn-primary sofa_products"><i class="fa-solid fa-cart-shopping px-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 my-2">
        </div>
    </div>
</div>

<script src="static/js/sofa.js"></script>
{% endblock %}