header{
    background-color: #ff851b;
}

.navbar-brand{
    max-height: 60px;
}

.container-fluid {
    padding:0px;
}

#logo{
    max-height: 60px;
}



.search{
    border:none;
}

.d-flex{
    width: 350px;
}